
/*task tracker.jsx*/
input{
  background-color: rgb(151, 217, 248);
  border: none;
  padding: 0.6%;
}
.list{
  border: 1px solid black;
  background-color: rgb(247, 242, 158);
  padding: 0.5%;
  margin-bottom: 1%;
  list-style-type: none;
}
main{
  width: 55%;  
  background-color: rgb(173, 169, 169); 
}